body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  color: #333;
}

header {
  background-color: #96f15e;
  color: white;
  padding: 20px 0;
  box-shadow: inset 0 0 0 200px rgba(255, 255, 255, 0.05);
  position: relative;
  display: flex;
  align-items: center;
}

.logo {
  height: 50px;
  margin-left: 20px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #ffb74d;
}

.auth-buttons {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.auth-buttons .btn {
  background-color: #ffb74d;
  color: #6200ea;
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

.auth-buttons .btn:hover {
  background-color: #ff9800;
  color: white;
}

main {
  padding: 40px 20px;
  text-align: center;
}

.player {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  display: inline-block;
  padding: 30px;
  margin: 20px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
}

.track-info {
  margin-bottom: 20px;
}

.track-info h2 {
  margin-bottom: 10px;
  font-size: 1.5em;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #b6e39a;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.track-status {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 10px;
}

.list-track {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  padding: 0 10px;
  margin-right: 20px;
}

.controls {
  font-size: 29px;
  display: flex;
  align-items: center;
}

.controls i {
  margin: 0 10px;
}

/* Start  styling the page */
.container-audio {
  width: 66%;
  height: auto;
  padding: 20px;
  border-radius: 5px;
  background-color: #eee;
  color: #444;
  margin: 20px auto;
  overflow: hidden;
}
audio {
  width: 100%;
}
audio:nth-child(2),
audio:nth-child(4),
audio:nth-child(6) {
  margin: 0;
}
.container-audio .colum1 {
  width: 23px;
  height: 5em;
  border-radius: 5px;
  margin: 0 10px 0 0;
  display: inline-block;
  position: relative;
}
.container-audio .colum1:last-child {
  margin: 0;
}
.container-audio .colum1 .row {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background: linear-gradient(to up, #7700aa, #8800ff);
  position: absolute;
  -webkit-animation: Rofa 10s infinite ease-in-out;
  animation: Rofa 10s infinite ease-in-out;
  bottom: 0;
}
.container-audio .colum1:nth-of-type(1) .row {
  -webkit-animation-delay: 3.99s;
  animation-delay: 3.99s;
}
.container-audio .colum1:nth-of-type(2) .row {
  -webkit-animation-delay: 3.8s;
  animation-delay: 3.8s;
}
.container-audio .colum1:nth-of-type(3) .row {
  -webkit-animation-delay: 3.7s;
  animation-delay: 3.7s;
}
.container-audio .colum1:nth-of-type(4) .row {
  -webkit-animation-delay: 3.6s;
  animation-delay: 3.6s;
}
.container-audio .colum1:nth-of-type(5) .row {
  -webkit-animation-delay: 3.5s;
  animation-delay: 3.5s;
}
.container-audio .colum1:nth-of-type(6) .row {
  -webkit-animation-delay: 3.4s;
  animation-delay: 3.4s;
}
.container-audio .colum1:nth-of-type(7) .row {
  -webkit-animation-delay: 3.3s;
  animation-delay: 3.3s;
}
@-webkit-keyframes Rofa {
  0% {
    height: 0%;
    -webkit-transform: translatey(0);
    transform: translatey(0);
    background-color: yellow;
  }

  5% {
    height: 100%;
    -webkit-transform: translatey(15px);
    transform: translatey(15px);
    background-color: fuchsia;
  }
  10% {
    height: 90%;
    transform: translatey(0);
    -webkit-transform: translatey(0);
    background-color: bisque;
  }

  15% {
    height: 80%;
    -webkit-transform: translatey(0);
    transform: translatey(0);

    background-color: cornflowerblue;
  }
  20% {
    height: 70%;
    -webkit-transform: translatey(0);
    transform: translatey(0);
    background-color: cornflowerblue;
  }
  25% {
    height: 0%;
    -webkit-transform: translatey(0);
    transform: translatey(0);
    background-color: cornflowerblue;
  }
  30% {
    height: 70%;
    -webkit-transform: translatey(0);
    transform: translatey(0);
    background-color: cornflowerblue;
  }
  35% {
    height: 0%;
    -webkit-transform: translatey(0);
    transform: translatey(0);

    background-color: cornflowerblue;
  }
  40% {
    height: 60%;
    -webkit-transform: translatey(0);
    transform: translatey(0);

    background-color: cornflowerblue;
  }
  45% {
    height: 0%;
    -webkit-transform: translatey(0);
    transform: translatey(0);

    background-color: cornflowerblue;
  }
  50% {
    height: 50%;
    -webkit-transform: translatey(0);
    transform: translatey(0);

    background-color: cornflowerblue;
  }
  55% {
    height: 0%;
    -webkit-transform: translatey(0);
    transform: translatey(0);

    background-color: cornflowerblue;
  }
  60% {
    height: 40%;
    -webkit-transform: translatey(0);
    transform: translatey(0);

    background-color: cornflowerblue;
  }
  65% {
    height: 0%;
    -webkit-transform: translatey(0);
    transform: translatey(0);

    background-color: cornflowerblue;
  }
  70% {
    height: 30%;
    -webkit-transform: translatey(0);
    transform: translatey(0);

    background-color: cornflowerblue;
  }
  75% {
    height: 0%;
    -webkit-transform: translatey(0);
    transform: translatey(0);

    background-color: cornflowerblue;
  }
  80% {
    height: 20%;
    -webkit-transform: translatey(0);
    transform: translatey(0);

    background-color: cornflowerblue;
  }
  85% {
    height: 0%;
    -webkit-transform: translatey(0);
    transform: translatey(0);

    background-color: cornflowerblue;
  }
  90% {
    height: 10%;
    -webkit-transform: translatey(0);
    transform: translatey(0);

    background-color: cornflowerblue;
  }
  95% {
    height: 5%;
    -webkit-transform: translatey(0);
    transform: translatey(0);

    background-color: cornflowerblue;
  }
  100% {
    height: 0;
    -webkit-transform: translatey(0);
    transform: translatey(0);

    background-color: cornflowerblue;
  }
}
